<!doctype html>


{%extends 'base.html'%}
{% block content%}
{% load static %}


<main role="main">
    <div class ="container">
    <h4 class ="text-center pt-2"> Blog</h4>
  <br/>
  <br/>
    <h5> Latestes Posts</h5>
    <hr/>
    {% for blog in blogs.all %}
    <a href = "{% url 'detail' blog.id %}"><h3>{{blog.title}}</h3></a>
    {{blog.pub_date_pretty}}
    <br/>
    <img class ="img-fluid" src="{{blog.image.url}}" height= 200 width=300/>
    <br/>
    <p> {{blog.summary}} </P>
    {% endfor%}
  <div/>
  </main>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->

{% endblock%}
